# Dependencies
/node_modules

# Android/System Junk
android/app/build
android/.gradle
android/local.properties
.DS_Store
Thumbs.db

# Build output
/build
/dist

# Env variables (Safety)
.env
.env.local